.typing{
   font-family: Georgia, 'Times New Roman', Times, serif; 
   border-right: 5px solid red;
   display:inline-block;
   white-space: nowrap;
   overflow:hidden;
   animation: typing 3s steps(22,end),blink-caret .75s step-end infinite
}
@keyframes typing {
    from{width:0;}
    to{width:22ch}
}
@keyframes blink-caret {
    50%{border-color:transparent}
}

.box{
    width:100px;
    height: 100px;
    border-radius: 3px;
    border:2px solid grey;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    
    display:flex;
    margin-bottom:10px ;
}

.fade{
    background-color: lightblue;
    animation: fadeIn 3s infinite ease-in-out ;
    
}
@keyframes fadeIn {
  from{opacity: 0;} 
  to{opacity:1} 
}

.slide{
    background-color: lightcoral;
    animation: slideIn 3s ease-in-out infinite
}

@keyframes slideIn {
    from{transform: translateX(0px);}
    to{transform: translateX(300px);}
}

